* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  /* box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);; */
}

/* input[type="checkbox"]{
  height: 16px;
  width: 16px;
  
  border-radius: 50%;
  background-color: #B1B1B1;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
input[type=checkbox]:checked {
  background-color: #294A85 !important;
} */






.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #eee;
}



.checkbox-container input:checked~.checkmark {
  background-color: #294A85;
}

.OTP_submit_btn_toggle {
  display: none;
}

.mobVarif_btn_toggle {
  display: none;
}